@mixin inputPlaceholder() {
    $selector: "";
    $prefixes: (
        moz: "::-moz",
        webkit: "::-webkit",
        ie: ":-ms",
    );
    @each $prop, $value in $prefixes {
        @if $prop != "moz" {
            $selector: #{$value}-input-placeholder;
        } @else {
            $selector: #{$value}-placeholder;
        }
        @if & {
            &#{$selector} {
                @content;
            }
        } @else {
            #{$selector} {
                @content;
            }
        }
    }
    &::placeholder {
        @content;
    }
}

.checkList {
    display: flex;
    width: 100%;
    height: calc(100% - 3rem);
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    position: relative;

    .product {
        width: 100%;
        padding: 0 1rem 0.5rem;

        &.first {
            padding-top: 1rem;
        }

        .content {
            display: flex;
            height: 6rem;
            width: 100%;
            box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.3);
            background-color: #2a2a2a;
            border-radius: 10px;
            padding: 1rem;
            align-items: center;

            .check {
                height: 3.5rem;
                width: 3.5rem;
                max-width: 3.5rem;
                max-height: 3.5rem;
                min-width: 3.5rem;
                min-height: 3.5rem;
                border-radius: 50vw;
                background-color: rosybrown;
            }

            .description {
                height: 3.5rem;
                width: calc(100% - 3.5rem);
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 1rem;

                .nameContainer {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    align-items: center;
                    
                    .name {
                        color: white;
                        font-size: 1.1rem;
                        font-weight: 500;
                    }
                    .price {
                        color: white;
                        opacity: 0.6;
                    }
                }

                .people {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    height: 1.8rem;
                    min-height: 1.8rem;
                    max-height: 1.8rem;
                    margin-top: 0.5rem;
                    
                    .profilePicture {
                        height: 1.8rem;
                        max-height: 1.8rem;
                        min-height: 1.8rem;
                        width: 1.8rem;
                        max-width: 1.8rem;
                        min-width: 1.8rem;
                        background-color: whitesmoke;
                        //box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.3);
                        margin-left: -0.3rem;
                        border-radius: 50vw;
                        border: solid 2.5px rgb(42, 42, 42);
                    }
                }
            }
        }
    }
    .add {
        position: fixed;
        bottom: 3.5rem;
        right: 0.5rem;
        height: 3rem;
        max-height: 3rem;
        min-height: 3rem;
        width: 3rem;
        max-width: 3rem;
        min-width: 3rem;
        border-radius: 50vw;
        background-color: #353535;
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.3);
        
        .addIcon{
            width: 100%;
            height: 100%;
            padding: 0.75rem;
            filter: invert(1);
            opacity: 0.5;
        }
    }  
    .title {
        width: 100%;
        margin: 1rem 0;
        color: white;
        font-size: 1rem;
        text-align: center;
        font-weight: 700;
    }

    form {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        .inputContainer {
            display: flex;
            align-items: center;
            width: 85%;
            margin: 4%;
            border: solid 2px transparent;
            padding: 14px;
            border-radius: 100vw;
            background-color: rgb(65, 65, 65);
            box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.3);

            .left {
                height: 100%;
                width: fit-content;
                min-width: fit-content;
                max-width: fit-content;
                color: white;
                font-size: 0.8rem;
                font-weight: 700;
                margin-right: 0.3rem;
            }

            .right {
                height: 100%;
                width: fit-content;
                min-width: fit-content;
                max-width: fit-content;
                color: white;
                font-size: 0.8rem;
                font-weight: 500;
                margin-left: 0.3rem;
            }

            .input {
                display: flex;
                align-items: center;
                flex-grow: 1;
                background: none;
                color: white;
                border: 0;
                outline: none;
                font-size: 0.8rem;
                font-weight: 500;

                @include inputPlaceholder() {
                    color: white;
                    opacity: 0.4;
                    font-weight: 500;
                }
            }
        }

        .peopleContainer {
            width: 100%;
            height: 4rem;
            padding: 0.5rem;
            display: flex;
            align-items: center;
            justify-content: center;

            input {
                display: none;

                &:checked + label > .profileImage {
                    transform: scale(1.2);
                    filter: grayscale(0);
                }
            }

            .profileImage {
                transition: all 0.2s ease-in-out;
                height: 3rem;
                min-height: 3rem;
                max-height: 3rem;
                width: 3rem;
                min-width: 3rem;
                max-width: 3rem;
                padding: 0.5rem;
                border-radius: 100vw;

                transform: scale(1);
                filter: grayscale(1);
            }
        }

        .submitButton {
            display: flex;
            flex-direction: column;
            align-items: center;
            min-height: 50px;
            width: 85%;
            z-index: 1;
            cursor: pointer;
            color: white;
            margin-bottom: 4%;
            margin-top: 4%;
            border: 0;
            outline: none;
            padding: 14px;
            font-size: 0.9rem;
            font-weight: 700;
            text-align: center;
            text-transform: uppercase;
            -webkit-tap-highlight-color: transparent;
            border-radius: 100vw;
            background-color: rgb(105, 105, 105);
            box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.3);
        }
    }
}