.moneySummary {
    background-color: rgb(50, 50, 50);
    width: 100%;
    height: calc(100% - 3rem);
    display: flex;
    flex-direction: column;
    position: relative;

    .scrollView {
        overflow-y: auto;
        height: 100%;
        width: 90%;
        align-self: center;
    }

    .userBalance {
        height: 15%;
        width: calc(100% - 2rem);
        display: flex;
        flex-direction: column;
        background-color: rgb(78, 75, 75);
        border-radius: 10px;
        margin: 1rem;
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.3);
        .title {
            flex: 2;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            .text {
                font-weight: 700;
                opacity: 0.7;
                font-size: 3rem;
            }
        }
        .posNegBalance {
            flex: 1;
            width: 100%;
            display: flex;
            flex-direction: row;
            .positive {
                flex: 1;
                font-weight: 700;
                opacity: 0.7;
                font-size: 0.9rem;
                color: rgb(0, 170, 0);
                padding-left: 0.5rem;
            }
            .negative {
                flex: 1;
                text-align: end;
                font-weight: 700;
                opacity: 0.7;
                font-size: 0.9rem;
                color: red;
                padding-right: 0.5rem;
            }
        }
    }
    .balance {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        display: flex;
        justify-content: center;
        align-items: center;
        .window {
            width: 80%;
            height: 40%;
            background-color: rgb(78, 75, 75);
            box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.3);
            border-radius: 10px;

            display: flex;
            justify-content: center;
            align-items: center;

            .pie {
                position: relative;
                height: 15rem;
                width: 15rem;
                border-radius: 200rem;
                display: flex;
                justify-content: center;
                align-items: center;

                .segment {
                    --degrees: calc((var(--offset, 0) / 100) * 360);
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    transform: translate(0, -50%) rotate(90deg) rotate(calc(var(--degrees) * 1deg));
                    transform-origin: 50% 100%;
                }
                .segment::before {
                    content: "";
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    background-color: var(--bg, rgba(255, 0, 0, 1));
                    --degrees: calc((var(--value, 0) / 100) * 360);
                    transform: translate(0, 100%) rotate(calc(var(--degrees) * 1deg));
                    transform-origin: 50% 0;
                }
                .center {
                    height: 85%;
                    width: 85%;
                    position: absolute;
                    background-color: rgb(78, 75, 75);
                    border-radius: 200px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .text {
                        font-weight: 700;
                        opacity: 0.7;
                        font-size: 2rem;
                        color: rgb(196, 196, 196);
                    }
                }
            }
        }
    }
}
