$green: #84ff84;
$red: #ff8563;

.userSummary {
    display: flex;
    flex: 1;
    align-self: center;
    justify-content: center;
    width: 100%;
    height: 10%;
    position: relative;

    .inner {
        flex: 1;
        display: flex;
        height: 100%;
        position: relative;

        &.left {
            justify-content: flex-end;
            align-items: center;

            .line {
                background: $red;
                height: 1.25rem;
                border-radius: 200px 0 0 200px;
                box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.3);
            }
            .iconDiv {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 25%;
            }
            .icon {
                display: flex;
                justify-content: center;
                align-self: center;
                width: 2rem;
                height: 2rem;
                min-width: 2rem;
                min-height: 2rem;
                max-width: 2rem;
                max-height: 2rem;
                margin-right: 0.25rem;
                border-radius: 100vw;
                box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.3);
            }
            .value {
                padding-right: 0.5rem;
                color: $green;
                font-weight: 700;
                opacity: 0.7;
                font-size: 0.7rem;
            }
        }

        &.right {
            justify-content: flex-start;
            align-items: center;

            .line {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                background: $green;
                height: 1.25rem;
                border-radius: 0 200px 200px 0;
                box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.3);
            }

            .iconDiv {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 25%;
            }

            .icon {
                display: flex;
                justify-content: center;
                align-self: center;
                width: 2rem;
                height: 2rem;
                min-width: 2rem;
                min-height: 2rem;
                max-width: 2rem;
                max-height: 2rem;
                margin-left: 0.25rem;
                border-radius: 100vw;
                box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.3);
            }

            .value {
                padding-left: 0.5rem;
                color: $red;
                font-weight: 700;
                opacity: 0.7;
                font-size: 0.7rem;
            }
        }
    }

    .separator {
        position: absolute;
        width: 2px;
        height: 100%;
        background-color: rgb(80, 80, 80);
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.3);
    }
}
