// #######################################
//      FONTS
// #######################################

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap");
@font-face {
    font-family: "Pixel";
    font-weight: normal;
    src: local("Pixel"), url("resources/fonts/Pixel.otf") format("truetype");
}
@font-face {
    font-family: "Rojas";
    font-weight: normal;
    src: local("Pixel"), url("resources/fonts/Rojas.ttf") format("truetype");
}

// #######################################
//      VARIABLES
// #######################################

$text: #3c3536;
$font-size: 18px;
$line-height: 22px;

// #######################################
//      MIXINS
// #######################################

@mixin transition($x...) {
    -webkit-transition: $x;
    -moz-transition: $x;
    -ms-transition: $x;
    -o-transition: $x;
    transition: $x;
}

@mixin transition-delay($delay) {
    -webkit-transition-delay: $delay;
    -moz-transition-delay: $delay;
    -ms-transition-delay: $delay;
    -o-transition-delay: $delay;
    transition-delay: $delay;
}

@mixin calc($property, $expression) {
    #{$property}: -webkit-calc(#{$expression});
    #{$property}: -moz-calc(#{$expression});
    #{$property}: -ms-calc(#{$expression});
    #{$property}: -o-calc(#{$expression});
    #{$property}: calc(#{$expression});
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-shadow($value) {
    -webkit-box-shadow: $value;
    -moz-box-shadow: $value;
    -ms-box-shadow: $value;
    -o-box-shadow: $value;
    box-shadow: $value;
}

@mixin filter($value) {
    -webkit-filter: $value;
    -moz-filter: $value;
    -ms-filter: $value;
    -o-filter: $value;
    filter: $value;
}

@mixin animation($animation) {
    -webkit-animation: $animation;
    -moz-animation: $animation;
    -ms-animation: $animation;
    -o-animation: $animation;
    animation: $animation;
}

@mixin animation-delay($delay) {
    -webkit-animation-delay: $delay;
    -moz-animation-delay: $delay;
    -ms-animation-delay: $delay;
    -o-animation-delay: $delay;
    animation-delay: $delay;
}

@mixin touch-action($value) {
    -webkit-touch-action: $value;
    -moz-touch-action: $value;
    -ms-touch-action: $value;
    -o-touch-action: $value;
    touch-action: $value;
}

@mixin inputPlaceholder() {
    $selector: "";
    $prefixes: (
        moz: "::-moz",
        webkit: "::-webkit",
        ie: ":-ms",
    );
    @each $prop, $value in $prefixes {
        @if $prop != "moz" {
            $selector: #{$value}-input-placeholder;
        } @else {
            $selector: #{$value}-placeholder;
        }
        @if & {
            &#{$selector} {
                @content;
            }
        } @else {
            #{$selector} {
                @content;
            }
        }
    }
    &::placeholder {
        @content;
    }
}

// #######################################
//      MAIN ELEMENTS
// #######################################

* {
    overflow: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overscroll-behavior: none;
}

html {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-size: $font-size;
    @include touch-action(none);
}

body {
    user-select: none;
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: hidden;

    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include touch-action(none);
}

img,
video {
    display: block;
}

#root {
    height: 100%;
    width: 100%;
    color: $text;
}

// #######################################
//      APP
// #######################################

.app {
    position: relative;
    height: 100%;
    width: 100%;
    background: linear-gradient(30deg, #272727 0%, #181818 100%);
}

.mainTitle {
    padding: 1rem 0;
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    opacity: 0.3;
    text-align: center;
    width: 100%;
}
